@import url('reset.css');
@font-face {
    font-family: 'Flexion Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Flexion.woff2') format('woff2'),
         url('fonts/Flexion.woff') format('woff');
}

body {
    font-family: 'Flexion Grotesk', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 24px;
    line-height: 28px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    width: 60%;
    margin: 5vw;
}

p {
    margin: 1em 0;
}

a:link, a:visited {
    border-bottom: 1px dotted #333;
}

dfn, a:hover {
    color: rgb(229,53,44); /* gregoriocolor */
    border-bottom: none;
}

a:active {
    color: #666;
}

footer {
    margin-top: 5em;
    color: #aaa;
}
